{% load i18n %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">django-ajax-datatable example</a>
    {% if PROJECT_BUILD %}<small style="color: #ccc;">({{PROJECT_BUILD}})</small>{% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">

            {% comment %}
            <li class="nav-item">
                <a class="nav-link page-index" href="{% url 'frontend:tracks-list' %}">{% trans 'List tracks' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-index" href="{% url 'frontend:custompks-list' %}">{% trans 'CustomPK' %}</a>
            </li>
            {% endcomment %}

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Examples</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="{% url 'frontend:index' %}">List tracks</a>
                    <a class="dropdown-item" href="{% url 'frontend:minimal-list' %}">Minimal example</a>
                    <a class="dropdown-item" href="{% url 'frontend:custompks-list' %}">Custom PK</a>
                </div>
            </li>

            {% comment %}
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
            {% endcomment %}

            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hello, {{request.user}}</a>
                <div class="dropdown-menu" aria-labelledby="dropdown02">
                    {% if request.user.is_staff %}
                        <a class="dropdown-item" href="/admin/">admin</a>
                    {% endif %}
                    <a class="dropdown-item" href="{% url 'frontend:logout' %}">Logout</a>
                </div>
            </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'frontend:login' %}" tabindex="-1" aria-disabled="false">Login</a>
                </li>
            {% endif %}
        </ul>
        {% comment %}
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
        {% endcomment %}
    </div>
</nav>
