{% load static i18n %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{{ SITE_TITLE }}{% endblock %}</title>

        {% block extrahead %}
        {% endblock extrahead %}

        {% comment %}
            <link rel="stylesheet" href="{% static 'datatables.net-responsive-se/css/responsive.semanticui.min.css' %}">
            <link rel="stylesheet" href="{% static 'datatables.net-scroller-se/css/scroller.semanticui.min.css' %}">

            <!-- project -->
            <link rel="stylesheet" type="text/css" href="{% static 'hijack/hijack-styles.css' %}" />
            <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
            {# <link rel="stylesheet" href="{% static 'css/style.scss' %}" type="text/x-scss" charset="utf-8" /> #}
        {% endcomment %}

    </head>
    <body {% block bodyclass %}{% endblock bodyclass %}>

        <div id="main-content">
        {% block content %}
        {% endblock content %}
        </div>

        {% comment %}
            <!-- Bower components -->
            <script type="text/javascript" src="{% static 'jquery/dist/jquery.js' %}"></script>
            <script type="text/javascript" src="{% static 'nuex_scheduler/js/utils.js' %}"></script>
            <script type="text/javascript" src="{% static 'semantic/dist/semantic.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'pnotify/dist/pnotify.js' %}"></script>
            <script type="text/javascript" src="{% static 'moment/min/moment.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'datatables.net/js/jquery.dataTables.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'datatables.net-se/js/dataTables.semanticui.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'datatables.net-responsive-se/js/responsive.semanticui.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'ajax_datatable/js/datatables_utils.js' %}"></script>
        {% endcomment %}


        {# Additional JS files in footer, right before </body> #}
        {% block extrajs %}
            {% comment %}
            <script type="text/javascript" src="{% static 'js/my_project.js' %}"></script>
            <script language="javascript">
                $( document ).ready(function() {
                });
            </script>
            {% endcomment %}
        {% endblock %}

    </body>
</html>
