{% extends "base.html" %}
{% load static i18n %}


{% block content %}

    <h1>{{title}}</h1>

    <div class="datatable_block">
        <table id="datatable" class="ui small fixed table dataTable no-footer" cellspacing="0" width="100%"></table>
        <div id="extra_footer" style="color: blue;"></div>
    </div>

{% endblock content %}


{% block extrajs %}
    {{ block.super }}

    <script language="javascript">

        $(document).ready(function() {
            AjaxDatatableViewUtils.initialize_table($('#datatable'), "");
        });


            {% comment %}

            $('#btn-export').on('click', function(event) {
                var params = table.ajax.params();
                params.export = 1;
                //alert(params);

                $.ajax({
                    type: "GET",
                    url: "",
                    data: params
                    // cache: false,
                    // crossDomain: false,
                    // dataType: 'json',
                    // headers: {"X-CSRFToken": getCookie('csrftoken')}
                }).done(function(data) {
                    alert(data.task_id);
                    console.log('data=%o', data);
                }).fail(function(jqXHR, textStatus) {
                    alert('FAILURE: %o', jqXHR);
                    console.log('FAILURE: %o', jqXHR);
                });
            });

        } );
            {% endcomment %}

    </script>
{% endblock %}


